<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>staging.tolstoy.life</title>
		<meta name="description" content="The life and works of Leo Tolstoy." />
		<script defer src="https://cloud.umami.is/script.js" data-website-id="d14153b8-185c-4d89-b793-15bae8056993"></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background: #112;
		color: #ddc;
		;
	}
</style>
